body{
    color:rgb(63, 161, 227);
    background-color:aqua;
}
.heading{
    width:100%;
    font-size: 22px;
    color: rgb(0, 21, 255);
    background-color: rgb(111, 208, 235);
}
#camera{
    border:2px dashed olive;
    width: 350px;
    height: 300px;
}
#result_object,#result_accuracy,.name_of_objects{
    color: rgb(18, 96, 222);
}
